*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: black; */ 
}
::-webkit-scrollbar {
  width: 5px;
  height: 0;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e53e3e; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.freetag {
  width: 20%;
  height: 6vh;
  padding: 2px;
  text-align: center;
  background-color: #920909;
  animation: tagfree 2s linear infinite;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
@keyframes tagfree {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.input-group-text {
  border-right: none !important;
}